<apis>
  <providers>
    <provider name="gapi">
      <apilist>
        <api name="ProductSearch" verb="get" type="Tesco.Com.Pipeline.Entities.ProductEntities.ProductResult"
              typeAssembly="Tesco.Com.Pipeline" paramCount ="4" isList="false"
              uri ="http://172.28.150.24:8080/GapiRouter/v1/product/search?q={0}&amp;orderByFields={1},Default&amp;offset={2}&amp;limit={3}&amp;business=grocery"/>
        
        <api name="PromotionByProductIds" verb="get" type="Tesco.Com.Pipeline.Entities.ProductEntities.PromotionObject"
              typeAssembly="Tesco.Com.Pipeline" paramCount ="3" isList="true"
              uri ="http://172.28.150.24:8080/GapiRouter/v1/Promotion/search?q={0}&amp;limit={1}&amp;offset={2}&amp;business=grocery"/>
        
        <api name="PriceByProductIds" verb="Post" type="Tesco.Com.Pipeline.Entities.ProductEntities.PriceResult"
              typeAssembly="Tesco.Com.Pipeline" paramCount ="3" isList="true"
              uri ="http://172.28.150.24:8080/GapiRouter/v1/Price/total/Calculate?validfrom={0}&amp;validtill={1}&amp;applicablePromotionTypes={2}&amp;business=grocery"/>

        <api name="NavigationAnonymous" verb="Get" type="Tesco.Com.Pipeline.Entities.ResponseEntities.Hierarchy"
              typeAssembly="Tesco.Com.Pipeline" paramCount ="3" isList="false"
              uri ="http://172.28.150.24:8080/GapiRouter/v1/Range/UK/hierarchy?path=type={0},taxonomyId={1}&amp;Business={2}"/>
        
        <api name="Navigation" verb="Get" type="Tesco.Com.Pipeline.Entities.ResponseEntities.Hierarchy"
              typeAssembly="Tesco.Com.Pipeline" paramCount ="4" isList="false"              
              uri ="http://172.28.150.24:8080/GapiRouter/v1/Range/UK/hierarchy?path=type={0},taxonomyId={1}&amp;Business={2}&amp;storeId={3}"/>
        
        <api name="AnonymousProductBrowseRangeSearch" verb="Get" type="Tesco.Com.Pipeline.Entities.Range.RangeChannelSearch"
            typeAssembly="Tesco.Com.Pipeline" paramCount ="5" isList="false"
            uri ="http://172.28.150.24:8080/GapiRouter/v1/Range/UK/search?q={0}&amp;offset={1}&amp;limit={2}&amp;orderByFields={3}&amp;Business={4}"/>

        <api name="AnonymousProductBrowseProductSearch" verb="Get" type="Tesco.Com.Pipeline.Entities.ProductEntities.ProductResult"
            typeAssembly="Tesco.Com.Pipeline" paramCount ="5" isList="false"
            uri ="http://172.28.150.24:8080/GapiRouter/v1/product/search?q={0}&amp;offset={1}&amp;limit={2}&amp;orderByFields={3}&amp;Business={4}"/>

        <api name="AnonymousProductBrowsePrice" verb="Post" type="Tesco.Com.Pipeline.Entities.PriceResult"
            typeAssembly="Tesco.Com.Pipeline" paramCount ="4" isList="true"
            uri ="http://172.28.150.24:8080/GapiRouter/v1/Price/total/calculate?validfrom={0}&amp;validtill={1}&amp;applicablePromotionTypes={2}&amp;Business={3}"/>
        
      </apilist>
    </provider>
  </providers>
</apis>