<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <container>
    <register type="Tesco.Com.Pipeline.Provider.Contract.INavigationProvider, Tesco.Com.Pipeline"
			        mapTo="Tesco.Com.Pipeline.Provider.GAPI.GAPINavigationProvider, Tesco.Com.Pipeline">
    </register>
    <register type="Tesco.Com.Pipeline.Provider.Contract.IPriceProvider, Tesco.Com.Pipeline"
			        mapTo="Tesco.Com.Pipeline.Provider.GAPI.GAPIPriceProvider, Tesco.Com.Pipeline">
    </register>
    <register type="Tesco.Com.Pipeline.Provider.Contract.IPromotionProvider, Tesco.Com.Pipeline"
			        mapTo="Tesco.Com.Pipeline.Provider.GAPI.GAPIPromotionProvider, Tesco.Com.Pipeline">
    </register>
    <register type="Tesco.Com.Pipeline.Provider.Contract.IProductProvider, Tesco.Com.Pipeline"
			        mapTo="Tesco.Com.Pipeline.Provider.GAPI.GAPIProductProvider, Tesco.Com.Pipeline">
    </register>
  </container>
</unity>