<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <container>
    <register type="Tesco.Com.Pipeline.Provider.Contract.INavigationProvider, Tesco.Com.Pipeline"
			        mapTo="Tesco.Com.Pipeline.Provider.GAPI.GAPINavigationProvider, Tesco.Com.Pipeline">
    </register>
    <register type="Tesco.Com.Pipeline.Provider.Contract.IProductBrowseProvider, Tesco.Com.Pipeline"
			        mapTo="Tesco.Com.Pipeline.Provider.GAPI.GAPIProductBrowseProvider, Tesco.Com.Pipeline">
    </register>
    <register type="Tesco.Com.Pipeline.Provider.Contract.IDeviceIdentificationProvider, Tesco.Com.Pipeline"
			        mapTo="Tesco.Com.Pipeline.Provider.Appstore.AppstoreDeviceIdentificationProvider, Tesco.Com.Pipeline">
    </register>
  </container>
</unity>